# ============================================
# Manobi-RD - Variables de Entorno
# ============================================

# Base de Datos
DB_PASSWORD=ManobiRD2024!Secure

# Redis
REDIS_PASSWORD=ManobiRedis2024!

# JWT
JWT_SECRET=ManobiJWT2024!SuperSecretKey!ChangeMe

# Servidor TURN (WebRTC)
TURN_SERVER=turn:localhost:3478
TURN_USERNAME=manobi
TURN_PASSWORD=ManobiTurn2024!

# Dominio (cambiar en producción)
DOMAIN=localhost
